<p>Title: <%= @first.title %> </p>
<p>Author(s): <%= @first.authors %> </p>
<p>ISBN: <%= @first.isbn %> </p>
<p><a href="<%= @first.sale_info['buyLink'] %>">Click here to buy the book!</a></p>
<img src="<%= @first.image_link %> ">
